
input{
    margin-top: 10px;
    border-radius: 5px;
}
#message{
    margin-top: 10px;
    border-radius: 5px;
}

.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }